:host {
  /* Defaults for reference. These are overridden by the component */
  --start: 30;
  --current: 30;
  --end: 250;

  --thickness: 18;
  --radius: 40;
  --donut-stroke: 1px;
}

svg {
  --pi: 3.1415926;
  --circumference: calc(2 * var(--pi) * var(--radius));
  --deg: calc(var(--circumference) / 360);
}

text {
  font-size: 0.4em;
}

circle {
  fill: none;
  stroke-width: calc(var(--thickness) * 1px);
}

.donut-fill {
  stroke: whitesmoke;
}

.outer,
.inner {
  stroke: grey;
  stroke-width: var(--donut-stroke);
}

.inner {
  fill: white;
}

.progress {
  stroke: teal;
  stroke-dasharray: var(--circumference);
  stroke-dashoffset: calc(
    var(--circumference) + (var(--start) * var(--deg)) -
      (var(--current) * var(--deg))
  );

  transform-origin: 50% 50%;
  transform: rotate(calc(-90deg + (var(--start) * 1deg)));
  transition: 500ms;
}

.progress-shadow {
  stroke: lightgrey;
  stroke-dashoffset: calc(
    var(--circumference) + (var(--start) * var(--deg)) -
      (var(--end) * var(--deg))
  );
}
